:root{
    --sintef-blue: #003c65;
    --header_height: 128px;
}

.header-style {
    background-color: var(--sintef-blue);
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    height: 2em; /* Set the fixed height of the footer here */
    align-content: center;
    /*line-height: 60px; !* Vertically center the text there *!*/
    background-color: var(--sintef-blue);
    display: flex;
    flex-wrap: wrap;
}

.link-unstyle {
    text-decoration: none;
    color: inherit;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
