{% extends "index.jinja2" %}

{% block content %}

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
            {% for app in apps %}
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: {{ app.name }}" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{{ app.name }}</title>
                <rect width="100%" height="100%" fill="var(--sintef-blue)"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ app.name }}</text>
              </svg>

              <div class="card-body">
                <p class="card-text">{{ app.description }}</p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" href="{{ app.page }}">Run</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
{#          <div class="col">#}
{#            <div class="card shadow-sm">#}
{#              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Tool title" preserveAspectRatio="xMidYMid slice" focusable="false">#}
{#                <title>Tool title</title>#}
{#                <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Tool title</text>#}
{#              </svg>#}
{##}
{#              <div class="card-body">#}
{#                <p class="card-text">Tool description.</p>#}
{#                <div class="d-flex justify-content-end align-items-center">#}
{#                  <div class="btn-group">#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Run</button>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}

{#          <div class="col">#}
{#            <div class="card shadow-sm">#}
{#              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Tool title" preserveAspectRatio="xMidYMid slice" focusable="false">#}
{#                <title>Tool title</title>#}
{#                <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Tool title</text>#}
{#              </svg>#}
{##}
{#              <div class="card-body">#}
{#                <p class="card-text">Tool description.</p>#}
{#                <div class="d-flex justify-content-end align-items-center">#}
{#                  <div class="btn-group">#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Run</button>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>

{% endblock %}