{% extends "application_template.jinja2" %}

{% block app_content %}
    <div class="my-5 pt-5 container">
      <div class="row justify-content-center align-content-center">
        <div class="col-sm-6">
          <form action="http://localhost:5000/process" method="post" enctype="multipart/form-data">
            <!-- HTML5 file upload selector-->
            <div class="row">
              <input type = "file" name = "file" />
              <input type = "submit"/>
              <!-- @TODO: This loader should only be shown after "Submit" button is pressed. Should probably be a processing template -->
              <div class="loader"></div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="my-5 pt-5 row text-center">
        <p>
          Don't forget to star! <i class="fa-solid fa-star" style="color: #ffc107"></i>
          <br>
          <i class="fa-brands fa-github" href="https://github.com/andreped/livermask"></i>
          <a href="https://github.com/andreped/livermask" class="link-primary">github.com/andreped/livermask</a>
        </p>
    </div>

{% endblock %}