{% extends "application_template.jinja2" %}

{% block app_content %}
    <div class="my-5 pt-5 container">
      <div class="row justify-content-center align-content-center">
        <div class="col-sm-6">
          <form action="{{ url_for('process') }}" method="post" enctype="multipart/form-data">
            <!-- HTML5 file upload selector-->
                <div class="row justify-content-center mb-3">
                    <div class="col">
                        <input type="file" name="file"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <button type="reset" class="btn btn-secondary" style="width: 100%">Clear</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col justify-content-center d-flex">
                        <div class="loader"></div>
                    </div>
                 </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="my-5 pt-5 row text-center">
        <p>
          Don't forget to star! <i class="fa-solid fa-star" style="color: #ffc107"></i>
          <br>
          <i class="fa-brands fa-github" href="https://github.com/andreped/livermask"></i>
          <a href="https://github.com/andreped/livermask" class="link-primary">github.com/andreped/livermask</a>
        </p>
    </div>

{% endblock %}
